#clients{
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.clientTitle{
    font-size: 3rem;
    margin: 1rem 0;
}

.clientDesc{
    font-size: 1rem;
    font-weight: 300;
    margin: 0.9rem 0;
    max-width: 50rem;
}

.clientImages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
    gap: 2rem;
    margin: 1rem 0;
}

.clientImg{
    object-fit: cover;
    height: 5rem;
    margin: 0.8rem;
}

@media screen and (max-width:413px) {
#clients{
    width: 100vw;
    margin-left: 25vw;
}

}