#footer{
    width: 80%;
    font-size: small;
    font-weight: 300;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(40,40,40);
    text-align: center;
    margin: 1rem auto;
    
}